@charset "UTF-8";
/*Variables*/
/*barra de manu*/
/*Tamaño de las imágenes de la sección Charlotte*/
/*Tamanio de imagenes*/
/* 
  $medidas:"default";
  @if($medidas !="360") {
    div.charlotte img{
        width: 200px;
        height: 200px;  

    }
  }
*/
/*probar borrando justify-content en style.scssM*/
header.portada {
  width: 100%;
  height: 250px;
  background-image: url("../media/portada.jpg"); /*imagen de fondo*/
  background-position: center; /*para centrar la imagen*/
  background-repeat: no-repeat; /*para que no se repita de a cuadros*/
  background-size: cover;
  /*titulo*/
  /*web en naranja*/
}
header.portada .spider {
  font-size: 70px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
header.portada .yellow {
  color: rgb(211, 112, 20);
}

/*Demas titulos en color*/
.titulos-color {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #d1740b;
}

/*barra de menu*/
nav.navbarra {
  position: sticky;
  top: 0;
  background-color: #cfd89e;
  border-radius: 8px;
  list-style: none;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 100;
  box-shadow: 2px 2px 2px #666565;
}
nav.navbarra ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav.navbarra ul li {
  padding: 10px;
  margin: 5px;
  background-color: none;
  list-style: none; /*saca los puntos tipicos de listas*/
}
nav.navbarra ul li a {
  color: #333;
  text-decoration: none;
}
nav.navbarra ul li:hover {
  background-color: rgba(236, 185, 185, 0.6352941176);
}

/*checkbox-menu de navbarra*/
#checkbox-menu, label.menu {
  display: none;
}

label.menu {
  font-size: 26px;
  color: rgb(252, 250, 248);
  cursor: pointer;
}

/* Ruta de exploracion */
.breadcrumb {
  background-color: #f5f5f5;
  padding: 8px;
  border-radius: 4px;
  list-style: none;
}
.breadcrumb .breadcrumb-item {
  display: inline;
}
.breadcrumb .breadcrumb-item::after {
  content: "›";
  padding: 0 5px;
  color: #888;
}
.breadcrumb .breadcrumb-item:last-child::after {
  content: none;
}
.breadcrumb .breadcrumb-item a {
  color: #007bff;
  text-decoration: none;
}
.breadcrumb .breadcrumb-item a:hover {
  text-decoration: underline;
}

/*index texto video y foto*/
.relleno1 {
  padding: 25px;
  display: flex;
  flex-direction: column;
}
.relleno1 div {
  margin-bottom: 20px;
  margin-top: 20px;
}
.relleno1 iframe {
  width: 45%;
  height: 400px;
}
.relleno1 img {
  width: 45%;
  height: 400px;
  vertical-align: 0px;
}

/*INDEX:te podria interesar*/
section.extra {
  border-style: groove;
  padding: 25px;
}

.relleno2 {
  padding: 25px;
}

/*index:cuadrito amarillo*/
section.minitexto {
  border: 6px solid rgb(226, 241, 83);
  padding: 20px;
  font-size: 17px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  background-color: rgba(241, 182, 127, 0.637);
  width: 250px;
  height: 250px;
  /* solución */
  overflow: auto;
  margin: 20px;
  border-radius: 8px;
  float: right;
}

/* footer */
footer {
  background-color: rgba(184, 238, 167, 0.862745098);
  padding: 15px;
  text-align: center;
  color: #555;
}
footer a {
  color: #333;
}
footer .container {
  max-width: 960px;
  margin: 0px auto;
}
footer .container a {
  text-decoration: none;
}
footer .social-icons a {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  text-decoration: none;
  color: #555;
}
footer .social-icons i {
  font-size: 30px;
}

footer a:hover {
  text-decoration: underline; /*subrayado al pasar el cursor por encima */
  color: #d37925;
}

/*galeria imagenes*/
.portada-galeria {
  width: 100%;
  height: 250px;
  background-image: url("../media/portada2.jpg"); /*imagen de fondo*/
  background-position: center; /*para centrar la imagen*/
  background-repeat: no-repeat; /*para que no se repita de a cuadros*/
  background-size: cover;
}

.grido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}
.grido div {
  display: flex;
  gap: 10px;
}
.grido img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  transition: transform 0.3s ease;
  display: inline-block;
}
.grido img:hover {
  transform: scale(1.5); /* Zoom al hacer hover */
}

/* Tabla en la sección de clasificación */
.portada-clasificacion {
  width: 100%;
  height: 250px;
  background-image: url("../media/arania en tela.jpg"); /*imagen de fondo*/
  background-position: center; /*para centrar la imagen*/
  background-repeat: no-repeat; /*para que no se repita de a cuadros*/
  background-size: cover;
}

.tabla {
  border: 1px solid rgb(245, 184, 92);
  border-radius: 5px;
  width: 97%;
  padding: 10px;
  overflow-x: auto; /* Agregue desplazamiento horizontal en dispositivos móviles */
  border-collapse: collapse;
  margin-left: 15px;
  margin-top: 50px;
}

/* Estilo para las celdas de la tabla */
th, td {
  border: 1px solid #d1d3d1;
  padding: 8px;
  text-align: center;
}

th {
  background-color: rgba(196, 226, 247, 0.7882352941);
  font-weight: bold;
}

/*seccion curiosidades y mitos: INICIO*/
.portada-curiosidades {
  width: 100%;
  height: 250px;
  background-image: url("../media/fondo.jpg"); /*imagen de fondo*/
  background-position: center; /*para centrar la imagen*/
  background-repeat: no-repeat; /*para que no se repita de a cuadros*/
  background-size: cover;
}

.mitos {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
}

.lista {
  grid-column: 1;
}

.duda img {
  width: 75%;
  margin-left: 40px;
}

.duda:hover {
  transform: rotate(5deg) scale(1.05);
}

/*seccion de curiosidades y mitos:CUADRO*/
.curiosidades {
  margin: 100px 15px 50px 15px;
  background-image: url("../media/arania en tela.jpg");
  border: 5px solid #d4ab7b;
  padding: 40px;
  text-align: center;
  border-style: double;
  background-position: center; /*para centrar la imagen*/
  background-repeat: no-repeat; /*para que no se repita de a cuadros*/
  background-size: cover;
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/*seccion de curiosidades y mitos:TOP 5 */
.contenedor-padre {
  background-image: url("../media/fondo degrade.jpg");
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.contenedor-hijo {
  background-color: rgba(192, 187, 177, 0.6980392157);
  padding: 20px;
  border: double solid rgb(10, 10, 10);
  margin: 20px;
}

.hijo-bueno {
  background-color: #e9c583;
}

.contenedor-hijo h3 {
  margin-top: 0;
}

/*seccion contacto*/
.portada-contacto {
  width: 100%;
  height: 250px;
  background-image: url("../media/portada3.jpg"); /*imagen de fondo*/
  background-position: center; /*para centrar la imagen*/
  background-repeat: no-repeat; /*para que no se repita de a cuadros*/
  background-size: cover;
}

.formu-container {
  padding: 30px 10px;
}

.formu-contacto {
  border-radius: 5px;
  border: 1px solid #333;
  box-shadow: 5px 5px 8px #575656;
}

.formu-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(240, 237, 234);
  padding: 17px;
}

.formu-box label {
  width: 130px;
}

.formu-box input, .formu-box textarea {
  width: 70%;
  height: 24px;
  padding: 3px 5px;
  font-size: 12px;
}

.formu-box textarea {
  height: 200px; /*text area mas alto*/
  min-height: 150px;
  max-height: 300px;
  resize: vertical;
}

/*seccion contacto*/
/*pseudoclases*/
.formu-box input:focus, .formu-box textarea:focus {
  background-color: rgb(228, 238, 191);
}

.formu-box:nth-child(odd) {
  background-color: rgba(112, 112, 112, 0.267);
}

.formu-box:nth-child(even) {
  background-color: rgba(230, 43, 43, 0.267);
}

.buttom-green {
  background-color: rgb(183, 238, 183);
}

.buttom-red {
  background-color: rgb(241, 146, 146);
}

/* Media queries para dispositivos móviles */
/*Header-portada*/
@media screen and (max-width: 767px) {
  header.portada {
    height: 180px;
  }
  header.portada .spider {
    font-size: 50px;
  }
}
/*Barra de navegacion*/
@media screen and (max-width: 600px) {
  nav.navbarra ul {
    background-color: rgba(219, 240, 216, 0.952);
    padding-right: 20px;
    display: none;
    flex-direction: column;
    position: absolute;
    box-shadow: 3px 3px 5px #575656;
  }
  label.menu {
    display: block;
    margin-left: 10px;
  }
  #checkbox-menu:checked ~ ul {
    display: block;
  }
}
/*index video y foto:class relleno1*/
@media (max-width: 768px) {
  .relleno1 {
    display: flex;
    font-size: small;
  }
  .relleno1 iframe, .relleno1 img {
    height: 250px;
    width: 340px;
  }
}
@media (max-width: 360px) {
  .relleno1 iframe, .relleno1 img {
    height: 240px;
    width: 310px;
  }
}
/* Mini texto */
@media screen and (max-width: 400px) {
  section.minitexto {
    font-size: 15px;
    width: 80%;
  }
}
/* Footer */
footer .container div {
  width: 100%;
}
footer .social-icons i {
  font-size: 20px;
}

/*seccion curiosidades y mitos INICIO*/
@media (max-width: 600px) {
  .mitos {
    grid-template-columns: 1fr;
  }
  .duda {
    grid-column: 1;
  }
  .lista {
    grid-column: 1;
    grid-row: 2;
  }
}
@media (min-width: 360px) and (max-width: 768px) {
  .curiosidades {
    font-size: small;
    padding: 10px;
    margin-top: 50px;
  }
}
/*seccion TOP 5 de curiosidades y mitos*/
@media (max-width: 768px) {
  .contenedor-padre {
    grid-template-columns: 1fr;
  }
}
/*CLASIFICACION*/
/*CLASIFICACION: tabla,para dispositivos móviles */
@media screen and (max-width: 768px) {
  .tabla {
    font-size: 12px;
  }
  th, td {
    padding: 6px;
  }
  /*Mostrar los datos en filas */
  tr {
    border-bottom: 1px solid #c7c5c5;
    margin-bottom: 5px;
  }
  td:before {
    /*Agregue el encabezado de la columna como contenido del pseudo-elemento */
    content: attr(data-label);
    font-weight: bold;
    display: block;
  }
}
/*Galeria:para diferentes tamaños de pantalla */
/* Dispositivos móviles de 360px */
@media (max-width: 400px) {
  .grido {
    flex-direction: column;
    padding: 0;
    margin: 5px 10px;
  }
  .img-galeria {
    margin: 10px auto;
    width: 100%; /*img ocupan 100% del ancho del contenedor */
    height: auto;
  }
}
/* Tablets de 768px */
@media (min-width: 768px) and (max-width: 1199px) {
  .grido div {
    flex-basis: calc(33.33% - 20px); /* 3 columnas con espacio entre ellas */
  }
}

/*# sourceMappingURL=style.css.map */
