@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/animaciones";


header.portada {
  @include background-properties;
  background-image: url('../media/portada.jpg'); /*imagen de fondo portada*/

  /*titulo*/
  .spider {
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  /*web en naranja*/
  .yellow{
    color: rgba(211, 112, 20);
  }
}

/*Demas titulos en color*/
 .titulos-color{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #d1740b;
  font-size: 40px;
  text-align: center;
  padding: 30px;
}

/*barra de menu*/

nav.navbarra {
  position: sticky;
  top: 0;
  background-color: $color-primary;
  border-radius: 8px;
  list-style: none;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 100;
  box-shadow: 2px 2px 2px #666565;



  ul {
    display: flex;
    align-items: center;
    justify-content: space-around;


    li {
      padding: 10px;
      margin: 5px;
      background-color: none;
      list-style: none; /*saca los puntos tipicos de listas*/


      a {
        color: $color-secondary;
        text-decoration: none;
      }

      &:hover {
        background-color: $color-hover;
      }
    }
  }
  
}
/*checkbox-menu de navbarra*/
#checkbox-menu, label.menu{
  display: none;
}

label.menu{ 
  font-size: 26px;
  color: rgb(252, 250, 248);
  cursor: pointer;
}

/* Ruta de exploracion */
.breadcrumb {
  background-color: #f5f5f5;
  padding: 8px;
  border-radius: 4px;
  list-style: none;

  .breadcrumb-item {
    display: inline;

    &::after {
      content: "›";
      padding: 0 5px;
      color: #888;
    }

    &:last-child::after {
      content: none;
    }

    a {
      color: #007bff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/*index texto video y foto*/

.relleno1 {
  padding: 25px;
  display: flex;
  flex-direction: column;

  div {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  iframe {
    width: 45%;
    height: 400px;
  }

  img {
    width: 45%;
    height: 400px;
    vertical-align: 0px;
  }
}


/*INDEX:te podria interesar*/
section.extra{ 
  border-style: groove;
  padding: 25px;
}

.relleno2 {
  padding: 25px;
 }


/*index:cuadrito amarillo*/
section.minitexto{
  border: 6px solid rgb(226, 241, 83);
  padding: 20px;
  font-size: 17px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  background-color: rgba(241, 182, 127, 0.637);
  width: 250px;
  height: 250px;
  /* solución */
  overflow:auto;
  margin: 20px;
  border-radius: 8px;
  float: right;
}


/* footer */

footer {
  background-color: #b8eea7dc;
  padding: 15px;
  text-align: center;
  color: #555;

  a {
    color: #333;
  }

  .container {
    max-width: 960px;
    margin: 0px auto;

    a {
      text-decoration: none;
    }
  }

  .social-icons {
    a {
      display: inline-block;
      margin: 5px;
      padding: 10px;
      text-decoration: none;
      color: #555;
    }

    i {
      font-size: 30px;
    }
  }
}

footer a:hover {
  text-decoration: underline; /*subrayado al pasar el cursor por encima */
  color: #d37925;
}


/*galeria imagenes*/
.portada-galeria {
  @include background-properties;
  background-image: url('../media/portada2.jpg'); /*imagen de fondo*/
}

.grido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;

  div {
    display: flex;
    gap: 10px;
    $imagen-tamanio: 260px;
  }

  img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease;
    display: inline-block;

    &:hover {
      transform: scale(1.5); /* Zoom al hacer hover */
    }
  }
}


/* Tabla en la sección de clasificación */

.portada-clasificacion{
  @include background-properties;
  background-image: url('../media/arania\ en\ tela.jpg'); /*imagen de fondo*/
}

.tabla{
  border: 1px solid rgb(245, 184, 92);
  border-radius: 5px;
  width: 97%;
  padding: 10px;
  overflow-x: auto; /* Agregue desplazamiento horizontal en dispositivos móviles */
  border-collapse: collapse;
  margin-left: 15px;
  margin-top: 50px;

}

/* Estilo para las celdas de la tabla */
th, td {
  border: 1px solid #d1d3d1;
  padding: 5px;
  text-align: center;
}

th {
  background-color: #c4e2f7c9;
  font-weight: bold;
}


/*seccion curiosidades y mitos: INICIO*/
.portada-curiosidades{
  @include background-properties;
  background-image: url('../media/fondo.jpg'); /*imagen de fondo*/
}

.mitos {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  .lista {
    grid-column: 1;
  }
  .duda img {
    width: 75%;
    margin-left: 40px;
    &:hover{
      transform: rotate(5deg)scale(1.05);
    }
  }
}


/*seccion de curiosidades y mitos:CUADRO*/
.curiosidades{ 
  margin: 100px 15px 50px 15px;
  background-image: url('../media/arania\ en\ tela.jpg');
  border: 5px solid #d4ab7b;
  padding: 40px;
  text-align: center;
  border-style: double;
  background-position: center; /*para centrar la imagen*/
  background-repeat: no-repeat; /*para que no se repita de a cuadros*/
  background-size: cover;
  font-size: large;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*seccion de curiosidades y mitos:TOP 5 */

.contenedor-padre {
  background-image: url('../media/fondo\ degrade.jpg');
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  .contenedor-hijo {
    background-color: #c0bbb1b2;
    padding: 20px;
    border: double solid rgb(10, 10, 10);
    margin: 20px;
    h3 {
      margin-top: 0;
    }
  }

  .hijo-bueno {
    background-color: #e9c583;
  }
}


/*seccion contacto*/
.portada-contacto{
  @include background-properties;
  background-image: url('../media/portada3.jpg'); /*imagen de fondo*/
}

.formu-container{
  padding: 30px 10px;
}
.formu-contacto{
  border-radius: 5px;
  border: 1px solid #333;
  box-shadow: 5px 5px 8px #575656;
  .formu-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(240, 237, 234);
    padding: 17px;
  }
  .formu-box label{
    width: 130px;
  }
  .formu-box input, .formu-box textarea{
    width: 70%;
    height: 24px;
    padding: 3px 5px;
    font-size: 12px;
  }
  .formu-box textarea{
    height: 200px; /*text area mas alto*/
    min-height: 150px;
    max-height: 300px;
    resize: vertical;
  }
}

/*seccion contacto*/
/*pseudoclases*/
.formu-box input:focus, .formu-box textarea:focus{ 
  background-color: rgb(228, 238, 191);
}

.formu-box:nth-child(odd){ 
  background-color: rgba(112, 112, 112, 0.267);
}
.formu-box:nth-child(even){ 
  background-color: rgba(230, 43, 43, 0.267);
}
/*Extend: estilos comunes de botones*/
%button-style {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}
.buttom-green {
  @extend %button-style;
  background-color: rgb(183, 238, 183);
}
.buttom-red {
  @extend %button-style;
  background-color: rgb(241, 146, 146);
}



@import "./partials/queries";

